{
    "extends": [
        "../.eslintrc.js.shared.json"
    ],
    "parserOptions": {
        "ecmaVersion": 9,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "es6": true
    },
    "globals": {
        "M": true,
        "ace": true,
        "dialogPolyfill": true,
        "React": true,
        "ReactDOM": true,
        "liyad": true,
        "lsx": true,
        "menneu": true,
        "pako": true,
        "mdneApi": true
    },
    "rules": {
    }
}
